<div class="container-fluid">

  <!-- Start of Header -->
  <div class="row">
    <nav class="navbar navbar-default">
      <h2>One Team, One Stop</h2>
    </nav>
  </div>
  <div>
    <marquee direction="left" scrolldelay="200" behavior="loop">
      <b>Announcement:</b>The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </marquee>
  </div>

  <div class="row weeklyupdates">
    <h3>Daily Mantra</h3>

    <div class="col-md-3">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="health-header-image"></div>
          <mat-card-title>Health Tips</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="col-md-3">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="funfact-header-image"></div>
          <mat-card-title>Do You Know?</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="col-md-3">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="thought-header-image"></div>
          <mat-card-title>Thought Of The Day</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="col-md-3">

      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="thought-header-image"></div>
          <mat-card-title>Breaking News</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
      </mat-card>

    </div>

  </div>

  <div class="row weeklyupdates">
    <h3>Ribben Updates</h3>

    <div class="col-md-8">

      <mat-card>
        <mat-card-header>
          <div mat-card-avatar class="thought-header-image"></div>
          <mat-card-title>HR Events</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <mat-accordion>
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Self aware panel
                </mat-panel-title>
                <mat-panel-description>
                  Hr Update
                </mat-panel-description>
              </mat-expansion-panel-header>
              <p>I'm visible because I am open</p>
            </mat-expansion-panel>
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Self aware panel
                </mat-panel-title>
                <mat-panel-description>
                  Hr Update
                </mat-panel-description>
              </mat-expansion-panel-header>
              <p>I'm visible because I am open</p>
            </mat-expansion-panel>
          </mat-accordion>

        </mat-card-content>
      </mat-card>

    </div>

    <div class="col-md-4">
      <mat-card>
        <mat-card-header>
          <div mat-card-avatar class="thought-header-image"></div>
          <mat-card-title>HR Announcement</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
      </mat-card>

    </div>
  </div>

  <div class="row weeklyupdates">
    <h3>Employee Corner</h3>
    <button mat-raised-button (click)="drawer.toggle()">Events</button>

    <div class="col-md-12">

      <mat-drawer-container class="example-container">
        <mat-drawer #drawer mode="over">

          <mat-tab-group mat-align-tabs="start">
            <mat-tab label="Ribbon Family Birthdays">

              <mat-list>
                <mat-divider></mat-divider>
                <div mat-subheader>Birthdays</div>
                <mat-list-item *ngFor="let birthday of birthdays">
                  <mat-icon mat-list-icon>cake</mat-icon>
                  <div mat-line>{{birthday.Name}}</div>
                  <div mat-line> {{birthday.Date | date}} </div>
                </mat-list-item>
              </mat-list>

            </mat-tab>
            <mat-tab label="Ribbon Work Anniversary">

              <mat-list>
                <mat-divider></mat-divider>
                <div mat-subheader>Birthdays</div>
                <mat-list-item *ngFor="let workAnniversary of workAnniversaries">
                  <mat-icon mat-list-icon>cake</mat-icon>
                  <div mat-line>{{workAnniversary.Name}}</div>
                  <div mat-line> {{workAnniversary.Date | date}} </div>
                </mat-list-item>
              </mat-list>

            </mat-tab>
            <mat-tab label="Ribbon Family Marriage">Content 3</mat-tab>
            <mat-tab label="Ribbon Family Newborn">Content 3</mat-tab>
          </mat-tab-group>


        </mat-drawer>
        <mat-drawer-content>


          <div class="col-md-4">

            <mat-card class="example-card">
              <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Know Your Colleage</mat-card-title>
                <mat-card-subtitle>Dog Breed</mat-card-subtitle>
              </mat-card-header>
              <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                alt="Photo of a Shiba Inu">
              <mat-card-content>
                <p>
                  The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                  A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                  bred for hunting.
                </p>
              </mat-card-content>
            </mat-card>

          </div>



          <div class="col-md-4">

            <mat-card class="example-card">
              <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Know Your Colleage</mat-card-title>
                <mat-card-subtitle>Dog Breed</mat-card-subtitle>
              </mat-card-header>
              <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                alt="Photo of a Shiba Inu">
              <mat-card-content>
                <p>
                  The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                  A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                  bred for hunting.
                </p>
              </mat-card-content>
            </mat-card>

          </div>


          <div class="col-md-4">

            <mat-card class="example-card">
              <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Star Of The Month</mat-card-title>
                <mat-card-subtitle>Dog Breed</mat-card-subtitle>
              </mat-card-header>
              <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                alt="Photo of a Shiba Inu">
              <mat-card-content>
                <p>
                  The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                  A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                  bred for hunting.
                </p>
              </mat-card-content>
            </mat-card>

          </div>


        </mat-drawer-content>
      </mat-drawer-container>
    </div>

  </div>




</div>